{% import "bootstrap/wtf.html" as wtf %}
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

     <!-- Site Metas -->
    <title>DSA4266 Group 3 - Fish Larvae Counting</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/fishlogo.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../static/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/custom.css">
	<script src="{{url_for('static', filename='js/modernizr.js')}}"></script> <!-- Modernizr -->


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: black;
}
</style>

<body id="page-top" class="politics_version">

    <!-- LOADER -->
    <div id="preloader">
        <div id="main-ld">
			<div id="loader"></div>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<!--<img class="img-fluid" src="images/logo.png" alt="" /> -->
		</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#masking">Masking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Our Detector</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#restapi">Rest API</a>
                </li>
          </ul>
        </div>
      </div>
    </nav>

	<section id="home" class="main-banner parallaxie" style="background: url('../static/uploads/fishmainpage.jpg')">
		<div class="heading">
			<h1>hello we're Group 3</h1>
			<p>"Don't count using your eyes but count on us to count for you!"</p>
			<h3 class="cd-headline clip is-full-width">
				<span>Is it a </span>
				<span class="cd-words-wrapper">
					<b class="is-visible">Fish Larvae?</b>
					<b>Fertilized Egg?</b>
					<b>Unfertilized Egg?</b>
				</span>
			</h3>
		</div>
	</section>

	<svg id="clouds" class="hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 85 100" preserveAspectRatio="none">
        <path d="M-5 100 Q 0 20 5 100 Z
            M0 100 Q 5 0 10 100
            M5 100 Q 10 30 15 100
            M10 100 Q 15 10 20 100
            M15 100 Q 20 30 25 100
            M20 100 Q 25 -10 30 100
            M25 100 Q 30 10 35 100
            M30 100 Q 35 30 40 100
            M35 100 Q 40 10 45 100
            M40 100 Q 45 50 50 100
            M45 100 Q 50 20 55 100
            M50 100 Q 55 40 60 100
            M55 100 Q 60 60 65 100
            M60 100 Q 65 50 70 100
            M65 100 Q 70 20 75 100
            M70 100 Q 75 45 80 100
            M75 100 Q 80 30 85 100
            M80 100 Q 85 20 90 100
            M85 100 Q 90 50 95 100
            M90 100 Q 95 25 100 100
            M95 100 Q 100 15 105 100 Z">
        </path>
    </svg>

    <!-- About Us -->
    <div id="about" class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h2>About Us</h2>
                        <p> The task of monitoring the stocking density of fish larvae and the counting of fertilised and unfertilised egg is tedious and tiring. </p>
						<p> As such, our goal is to train a predictive model that is able to accurately classify images of petri-dish containing three main classes: Fertilised Eggs, Unfertilized Eggs and Fish Larvae, and an Unidentifiable class to handle foreign objects as well.</p>
                        <!--<a href="./resume.pdf" class="sim-btn btn-hover-new" data-text="Download CV" target="blank"><span>Download CV</span></a>-->
                    </div><!-- end messagebox -->
                </div><!-- end col -->

                <div class="col-md-6">
                    <div class="right-box-pro wow fadeIn">
                        <img src="../static/uploads/fishegglogo.jpg" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="masking" class="section lb">
        <div class="container">
            <div class="section-title text-left">
                <h3>Masking Preview</h3>
                <p>This portion allows you to check if the masking can be applied successfully to your image.</p>
            </div><!-- end title -->
            {% if masked_image_name %}
                <div>
                    <img src="{{ url_for('static', filename='preview/' + masked_image_name) }}" width='{{image_size2}}' height='{{image_size1}}'>
                    <img src="{{ url_for('static', filename='preview/' + image_name) }}" width='{{image_size2}}' height='{{image_size1}}'>
                    <br><br>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <div class="contact_form">
                        <form id="form2" method="POST" enctype="multipart/form-data">
                            {{ form2.csrf_token }}
                            <dl>
                                {{ wtf.form_field(form2.data_file_preview) }}
                                <p class="w3-opacity">Note: Please upload only image file (i.e. 'png', 'jpeg', 'jpg')</p><br>
                                {{ wtf.form_field(form2.submit_preview, class="btn btn-secondary") }}
                            </dl>
                        </form>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <!-- Our Detector -->
    <div id="contact" class="section db">
        <div class="container">
            <div class="section-title text-left">
                <h3>Our Detector</h3>
                <p>Our detector has an accuracy of XX% with XX mAP.</p>
            </div><!-- end title -->
            <!--- Flash message --->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div id="error" class="alert {{ category }}" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div id="success" style="display: none" class="alert alert-success" role="alert">Upload success! Please wait while we run our model...</div>

            <div class="row">
                <div class="col-md-12">
                    <div class="contact_form">
                        <div id="message"></div>
                        <form id="form1" method="POST" enctype="multipart/form-data">
                            <dl>
                                {{ wtf.form_field(form1.data_file)}}
                                {{ wtf.form_field(form1.mask) }}
                                <br>
                                <p class="w3-opacity">Note: Please upload only image file (i.e. 'png', 'jpeg', 'jpg')</p>
                                {{ wtf.form_field(form1.submit, onclick="myFunction()", class="btn btn-secondary") }}
                            </dl>
                        </form>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="restapi" class="section wb">
        <div class="container">
            <div class="section-title text-left">
                <h3>Documentation for Rest API</h3>
                <pre><code><span class="color-bg-accent-emphasis color-fg-on-emphasis rounded-1 px-2 py-1" style="text-transform: uppercase">post</span> /predict</code></pre>
                <br>
                <h4>Parameters</h4>
                <table>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>In</th>
                    <th>Description</th>
                  </tr>
                  <tr>
                    <td><code>content-type</code></td>
                    <td><code>string</code></td>
                    <td><code>header</code></td>
                    <td><code>Application/json</code></td>
                  </tr>
                  <tr>
                    <td><code>filename</code></td>
                    <td><code>string</code></td>
                    <td><code>body</code></td>
                    <td><code>Image filename</code></td>
                  </tr>
                  <tr>
                    <td><code>image_base64</code></td>
                    <td><code>base 64 string</code></td>
                    <td><code>body</code></td>
                    <td><code>base64 version of image</code></td>
                  </tr>
                </table>
            </div><!-- end title -->
        </div><!-- end container -->
    </div><!-- end section -->


    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">Dominic</a> Design By :
					<a href="https://html.design/">html design</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->

    <script src="{{url_for('static', filename='js/all.js')}}"></script>
	<!-- Camera Slider -->
    <script src="{{url_for('static', filename='js/jquery.easing.1.3.js')}}"></script>
    <script src="{{url_for('static', filename='js/parallaxie.js')}}"></script>
    <script src="{{url_for('static', filename='js/headline.js')}}"></script>
	<!-- Contact form JavaScript -->
    <script src="{{url_for('static', filename='js/jqBootstrapValidation.js')}}"></script>
    <script src="{{url_for('static', filename='js/contact_me.js')}}"></script>

    <!-- ALL PLUGINS -->
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.vide.js')}}"></script>

    <script>
    function myFunction() {
        var submit = document.getElementById("submit");
        var data_file = document.getElementById("data_file");
        var uploaded = document.getElementById("success");
        var error = document.getElementById("error");

        if (data_file.value != '') {
            setTimeout(function(){uploaded.style.display = "block";}, 200);
            error.style.display = "none";
        }
    }
    </script>

</body>
</html>

